*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    box-sizing: border-box;
}
:root{
    --g_color: rgb(79, 124, 5);
    --f_color:rgba(28, 54, 2, 0.4);
    --button-color:rgba(5, 225, 5, 0.7);
}
/* HOME */
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://media.gq-magazine.co.uk/photos/5d139a49bc4bf64ef07f0890/master/pass/Aerial-hp--GQ-25aug17_alamy_b.jpg);
    background-position:center ;
    background-size: cover;
    position: relative;
}    
nav{
    display: flex;
    justify-content: space-between;   
    align-items: center ;
}
 nav a img{
     width: 40%;
}  
.nav-links{
    list-style: none;
    justify-content: end;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    
    color:#fff;
    text-decoration: none;
    font-size: 26px;
    transition: 0.5s;
}
.nav-links ul li a:hover{
    color:rgb(173, 249, 50);
}
.text-box{
    width: 70%;
    
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.text-box-title{
    font-size: 62px;
    color:#fff
}
.text-box-des{
    font-size: 26px;
    color:#fff;
}
.nav-links i{
    display: none;
 
}
.menu i{
    display:none;
}
.search{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search__input{
    display: flex;
    justify-content:space-between;
}
.subjects{
    flex:1;
    font-size: 23px;
    padding: 17px;
    margin:30px 20px;
    cursor: pointer;
}
.locations{
    flex:1;
    font-size: 23px;
    padding: 17px;
    margin:30px 20px;
    cursor: pointer;
}
.btn__search{
    width: 350px;
    margin: auto;
    background-color: var(--g_color);
    border-radius: 50px;
    display: flex;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}
.btn__search p{
    font-size: 23px;
    color:#fff;
    margin: auto;
}
.btn__search i{
    font-size: 26px;
    margin:0 10px 0 0 ;

}
@media(max-width:700px){
    nav a img{
        align-items: start;
        width:200px;
        /* flex-direction: ; */
    }
    .text-box-title{
        font-size: 26px;
        color:#fff ;
    }
    .text-box-des{
        font-size: 12px;
        color:#fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: rgba(59, 113, 5, 0.8);
        width: 50%;
        height:100vh;
        top:0;
        border-radius: 10px;
        right:-200px;
        z-index:2;/*chi so uu tien(đè)*/
        transition: 0.5s;
    }
    .nav-links ul li a{   
        margin-left:10px ;
        font-size: 17px;
    }
    
    .nav-links i{
        display: block;
        color: #fff;
        font-size: 30px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .menu i{
        display:block;
        margin-left: 10px;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        
    }
    .search{
        width: 60%;
        top: 60%;
        left: 50%;
    }
    .search__input{
        display: flex;
        justify-content:space-between;
        transform: translateX(-50px);
    }
    .subjects{
        flex:1;
        font-size: 12px;
        padding: 5px;
        margin:10px 10px;
    }
    .locations{
        font-size: 12px;
        padding: 5px;
        margin:10px 10px;
    }
    .btn__search{
        width: 150px;
        padding: 5px;
        margin: auto;
    }
    .btn__search p{
        font-size: 12px;
    }
    .btn__search i{
        font-size: 17px;
        margin:0 1px 0 0 ;
    
    }
}  

/* Course */
.course-intro{
    width: 80%;
    margin-top: 80px;
    background: no-repeat, url(https://res.cloudinary.com/oxford-summer-courses/image/upload/if_iw_gt_1801/c_scale,w_1800/if_end/q_20/dpr_auto/static/lightLogoGradient_ri7rii.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    display: flex;
    justify-content:center;
    transform: translateX(60px);
}
.course-title{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:30px;
    box-sizing: border-box;
    transform:translateX(80px);
}
.course-title h1{
    font-size: 50px;
    color: var(--g_color);
}
.course-title p{
    font-size: 26px;
    color: var(--g_color)
}
.course-title button{
    width: 260px;
    background-color: rgb(103, 197, 8);
    border-radius: 10px;
    border-color: #4eafdf;
}
.course-title button a{
    font-size: 26px;
    text-decoration: none;
    color:#fff;
}
.video{
    width:784px; 
    height:451px;
}
@media(max-width:700px){
    .video{
        width:100vw; 
        height:30vh;
    }
    .course-intro{
        margin-top:0px;
        width: 100%;
        flex-direction: colum;
        flex-wrap: wrap;
        transform: translateX(0px);
    }
    .course-title{
        transform: translateX(0);
    }
    .course-title h1{
        font-size: 17px;
        color: var(--g_color);
    }
    .course-title p{
        font-size: 12px;
        color: var(--g_color)
    }
    .course-title button{
        width: 180px;
        background-color: rgb(103, 197, 8);
        border-radius: 10px;
        border-color:grey;
        margin-top: 10px;
        transform:translateX(40px);
    }
    .course-title button a{
        font-size: 15px;
        text-decoration: none;
        color:#fff;
    }
}
/* intro */
.intro{
    margin-top: 80px;
    display:flex;
    width: 90%;
    justify-content: space-around;
    transform: translateX(100px);
}
.intro-column h1{
    margin-bottom: 20px;
    color: var(--g_color);
    font-size: 44px;
}

.intro-column li{
    font-size: 26px;
    color:var(--g_color);
    text-decoration:none;
}
@media(max-width:700px){
    .intro{
        margin-top: 35px;
        flex-direction: column;
        transform: translateX(5px);
    }
    .intro-column h1{
        font-size: 17px;
    }
    
    .intro-column li{
        font-size: 12px;
    }
}
/* experience */
.experience{
    margin:80px;
    background: url(https://res.cloudinary.com/oxford-summer-courses/image/upload/if_iw_gt_1801/c_scale,w_1800/if_end/q_20/dpr_auto/static/lightRightLogoGradient_cuprbh.webp);
    background-repeat: no-repeat;
    background-size: cover;

}
.experience h1{
    font-size: 44px;
    color:var(--g_color);
    text-align: center;
    margin: 26px 0 ;
}
.experience-column{
    display: flex;
    width: 90%;

}
.experience-column img{
    height: 35vh;
}
.experience-des p{
    margin-left: 35px;
    font-size: 26px;
    color: var(--g_color);
}
.box{
    width: 620px;
    height: 170px;
    background-color: var(--f_color);
    margin: auto;
}
.box h3{
    margin-top: 17px;
    text-align: center;
    color:#fff;
    padding-top:40px ;
    font-size: 35px;
}
@media(max-width:700px){
    .experience{
        margin:0px;
    }
    .experience h1{
        font-size: 17px;
    }
    .experience-column img{
        width: 100vw;
        
    }
    .experience-column{
        width: 100%;
        flex-direction: column;
    }
    .experience-des p{
        margin-left: 0px;
        font-size: 12px;
    }
    .box{
        width: 50vw;
        height: 10vh;
        background-color: var(--f_color);
        margin: auto;
    }
    .box h3{
        margin-top: 10px;
        text-align: center;
        color:#fff;
        padding-top:17px ;
        font-size: 17px;
    }
}
/* Subject */
.subject{
    width: 90%;
    text-align: center;
    margin-bottom: 50px;
}

.subject h1{
    font-size: 53px;
    color:var(--g_color);
    margin-bottom: 26px;
}
.subject-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transform: translateX(100px);
}
.subject-box a{
    flex-basis: 24%;
    padding: 50px 35px;
    border-style:groove;
    border-color: rgba(79, 124, 5,0,5);
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    border-color: var(--f_color);
    background-color: var(--f_color);
    
}
.box-links-full{
    flex-basis: 24%;
    padding: 50px 35px;
    border-color: rgba(79, 124, 5,0,5);
    border-radius: 10px;
    margin-bottom: 20px;
}
.box-links i{
    color:var(--g_color);
    font-size: 50px;
}
.box-links p{
    font-size: 23px;
    color:#fff
}
.box-links-full h4{
    font-size: 26px;
    transform: translateY(35px);
    color: #fff;
}
.subject-box a:hover{
    background-color: rgba(59, 113, 5, 0.5);
}
@media(max-width:700px){
    .subject h1{
        margin-top: 35px;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .subject-box{
        transform: translateX(8px);
        
    }
    .box-links-full{
        flex-basis: 40%;
        padding: 5px 5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .box-links{
        flex-basis: 40%;
        padding: 5px 5px;
        margin-bottom: 10px;
    }
    .box-links i{
        font-size: 26px;
    }
    .box-links p{
        font-size: 12px;
    }
    .box-links-full h4{
        font-size: 12px;
        transform: translateY(17px);
        color: #fff;
    }
}
/* Campus */
.campus{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.campus-title{
    font-size: 53px;
    color: var(--g_color);
}
.campus-des{
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--g_color);
}
.campus-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.card{
    flex-basis: 32%;
    
    height: auto;
    background-color:rgba(28, 54, 2, 0.4);
    border-radius: 10px;
    overflow: hidden;
}
.card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    opacity: 0.8;
    transition: 1s;
}
.layer{
    color:#fff;
    position: relative;
   font-size: 26px;
}
.card-img img:hover{
    opacity: 1;
    scale: 1.7;
}
@media(max-width:700px){
    .campus{
        margin-top: 35px;
        margin-bottom: 10px;
    }
    .campus-card{
        flex-direction: column;
        margin: auto;
    }
    .card{
        margin-bottom:20px ;
    }
    .campus-title{
        font-size: 17px;
        color: var(--g_color);
    }
    .campus-des{
        font-size: 12px;
    }
    .layer{
        color:#fff;
        position: relative;
       font-size: 12px;
    }
}

/* Reviews */
.review{
    background:url(https://res.cloudinary.com/oxford-summer-courses/image/upload/if_iw_gt_1801/c_scale,w_1800/if_end/q_20/dpr_auto/static/lightLogoGradient_ri7rii.webp);   
    background-repeat: no-repeat;
    background-size:cover;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.review-title{
    font-size: 53px;
    color: var(--g_color);
    margin-bottom: 50px;
}
.row{
    display: flex;
    flex-basis: 44%; 
    justify-content:space-between;
}
.review-col{
    margin-right: 35px;
    border-radius: 10px;
    text-align: left;
    background: rgba(28, 54, 2, 0.4);
    cursor: pointer;
    padding: 25px;
    display: flex;
}
.describe{
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.review-col img{
    align-items: start;
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
}
.name{
    font-size: 28px;
    color: #fff;
}
.review-private{
    font-size: 26px;
    color:#fff;
}
.bx{
    margin-top: 20px;
    color:#fff;
    font-size: 26px;
}
@media(max-width:700px){
    .review{
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .row{
        flex-direction: column;
    }
    .review-title{
        font-size: 20px;
        color: var(--g_color);
        margin-bottom: 10px;
    }
    .review-col{
        margin-right: 0px;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: left;
        background: rgba(28, 54, 2, 0.4);
        cursor: pointer;
        padding: 17px;
        display: flex;
        /* flex-wrap: wrap; */
    }
    .review-col img{
        align-items: start;
        height: 100px;
        width: auto;
        border-radius: 50%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .name{
        font-size: 17px;
        color: #fff;
    }
    .review-private{
        font-size: 12px;
        color:#fff;
    }
    .bx{
        margin-top: 20px;
        font-size: 12px;
    }
    .describe{
        margin-left: 10px;
    }
}

/* Footer */
.footer{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    background-color: var(--f_color);
    height: 17vh;
}
.footer h4{
    font-size: 26px;
    color:#fff;
}
.footer p{ 
    margin-top: 17px;
    color:#fff;
    font-size: 17px;
}
.icon{
    text-align: center;
    margin-bottom: 10px;
}
.icon .bx{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color:var(--f_color);
}
.footer button{
    width: 180px;
    background-color:var(--button-color);
    border-radius: 10px;
}
.footer button a{
    color: #fff;
    border-color: #fff;
    font-size: 23px;
    text-decoration: none;
}
@media(max-width:700px){
    .footer h4{
        font-size: 17px;
    }
    .icon{
        text-align: center;
        margin-bottom: 0px;
    }
    .footer button a{
        font-size: 17px;
    }
    .footer p{ 
        margin-top: 5px;
        font-size: 12px;
    }
}